<div class="container pvm">
  <header>
    <h3>{{heading}}</h3>
    <p><small data-model="instr"></small></p>
  </header>

  <section class="faded pam mvxl">
      <div class="row clearfix rel" data-reg="video-drag">
          <div data-reg="vids" class="left">
              {{#each m.rounds}}
                  {{#each this}}
                      <video id="vid_{{startSec}}" class="video-js vjs-default-skin left"
                       style="margin-right:1px;" data-setup='{"preload":"auto", "controls":"false"}' data-model="battle-vid" src="/video/battle/{{videoFileId}}">
                          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                      </video>
                  {{/each}}
              {{/each}}
          </div>

        <div class="left mhl">
            <span data-reg="arrow" class="arrow left" style="display:none">
              <i class="icon ion-arrow-left-a"></i>
            </span>
            <div data-reg="upload" style="width:180px;"></div>
            <span data-reg="arrow" class="arrow right" style="display:none">
              <i class="icon ion-arrow-right-a"></i>
            </span>
        </div>
    </div>

    <div class="mtm audio-bfr red-grad" data-reg="audio">
      <audio data-model="audio">
        <p>Your browser does not support this feauture :(</p>
        {{#if m.jamtrackId}}
            <source src="/audio/{{m.jamtrackId.fileId}}"type="audio/mpeg">
        {{else}}
            <source src="/audio/br/{{m.jamtrackFileId}}"type="audio/mpeg">
        {{/if}}
      </audio>
      <label data-model="offset" style="top:-20px;" class="battle-drag-label"></label>
      <label data-model="offsetLast" class="battle-drag-label"></label>
      </div>

    </section>
    <div class="row txt-left clearfix" style="position:relative; z-index:10">
      <div class="column third">
        <p><small>Round {{roundNo}} - {{m.mode}} mode</small></p>
      </div>
      <div class="column third">
        <p class="green">
          <i class="ion-play phs white point" data-evt="play"></i>
          <i class="ion-stop phs white point" data-evt="stop"></i>
          <small data-model="dur">0:00</small>
        </p>
      </div>
      <div class="column third">
        <p><button class="btn btn-niz" data-evt="submit">Done!</button></p>
      </div>
    </div>
  </div>
