<div class="container" data-region="landing">
    <div class="row clearfix le-wrap">
        <div class="column half">
            {{#each m.rounds}}
                <video id="video_0_{{@index}}" style="display:none" data-model="battlerVid" class="shred-vid half">
                    <source src="/video/battle/{{this.0.videoFileId}}" type='video/mp4' />
                </video>
            {{/each}}
        </div>
        <div class="column half">
            {{#each m.rounds}}
                {{#if this.1.videoFileId}}
                <video class="shred-vid half" style="display:none" id="video_1_{{@index}}" data-model="battleeVid" >
                    <source src="/video/battle/{{this.1.videoFileId}}" type='video/mp4' />
                </video>
                {{/if}}
            {{/each}}

            {{#if onlyOneVid}}
                <img src="/img/profiles/{{m.battlee.profileImgFile}}" class="battle-vid half">
            {{/if}}
        </div>

        <audio data-model="audio">
            <p>Your browser does not support this feauture :(</p>
            {{#if m.jamtrackId}}
                <source src="/audio/{{m.jamtrackId.fileId}}" type="audio/mpeg">
            {{else}}
                <source src="/audio/br/{{m.fileId}}"type="audio/mpeg">
            {{/if}}
        </audio>

        <div class="le-in center large-in"><h1><i class="ion-play battle-play"></i></h1></div>
        <div class="le-in full-in" data-evt="play"></div>
    </div>

    <small data-model="dur">0:00</small>

    <div class="row clearfix mvl le-wrap">
        <div class="column third">
            <h3><img src="/img/profiles/{{m.battler.profileImgFile}}" class="thumb-round img-small"><span class="thumb-txt">{{m.battler.username}}</span></h3>
            <i class="ion-location fa-2x phs"></i><small>{{m.battler.location}}</small>
            <button class="btn btn-niz mhl btn-logo" data-evt="vote" data-model="battler">Vote</button>
        </div>

        <div class="column third txt-center">
            <p><small class="vote-left white" data-model="battlers-vts">0 votes</small></p>
            <div class="vote-bar">
                <div class="vote-bar-in battler-vote"></div>
                <div class="vote-bar-in battlees-vote"></div>
            </div>
            <p><small class="vote-right white" data-model="battlees-vts">0 votes</small></p>

            <div class="green social mvm">
                <i class="icon ion-social-facebook phs"></i>
                <i class="icon ion-social-twitter phs"></i>
                <i class="icon ion-social-googleplus phs"></i>
            </div>
        </div>

        <div class="column third txt-right">
            <h3><span class="thumb-txt">{{m.battlee.username}}</span><img src="/img/profiles/{{m.battlee.profileImgFile}}" class="thumb-round img-small"></h3>
            <button class="btn btn-niz btn-logo mhl" data-evt="vote" data-model="battlee">Vote</button>
            <i class="ion-location fa-2x phs"></i><small>{{m.battlee.location}}</small>
        </div>

    </div>

    <div class="row clearfix pvxl">
        <div class="column two-thirds" data-reg="comments">

        </div>

        <div class="column third">
            <div class="mvl brown-box box-small right clearfix">
                <h4>Related Battles</h4>

                {{#each things}}
                    <div class="brd-dark box-wrap le-wrap mvm clearfix" data-mod="{{_id}}" data-evt="rel-bat">
                        <div class="crop">
                            <img src="http://img.youtube.com/vi/GcGl_UGEarc/0.jpg" class="shred-thumb">
                        </div>
                        <div class="crop">
                            <img src="/images/shredder.jpg" class="shred-thumb">
                        </div>
                        <div class="le-in thmb battle-in txt-center">
                            <p>Ken vs</p>
                            <p>Tim</p>
                        </div>
                        <div class="le-in full-in"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
