<div data-region="landing">
    <div class="fullscreenimg">
        <img src="/img/crowd.jpg">
    </div>

    <div class="rel over-base pvl">
        <div class="container">

            <div class="row clearfix txt-center le-wrap" data-reg="landing">
                <div class="shred-vid-wrap">
                    <video class="shred-vid">
                        <source src="/video/battle/{{m.videoFileId}}.webm" type="video/webm;"/>
                        <source src="/video/battle/{{m.videoFileId}}.mp4" type="video/mp4;"/>
                    </video>
                </div>

                <div class="le-in center vert-center">
                    <i data-evt="play" class="ion-play battle-play icon-3x point"></i>
                </div>
            </div>


            <div class="row clearfix pvxl le-wrap">
                <div class="column two-five">
                    <div class="clearfix">
                        <button class="btn btn-niz mal btn-logo right btn-ser" data-evt="vote" data-model="battler">Vote</button>
                        <img src="{{m.battler.profileImgFile}}" class="thumb-round img-sm left mhl">
                        <div class="mvl">
                            <h3><a href="/users/{{m.battler._id}}">{{m.battler.username}}</a></h3>
                            <i class="ion-location fa-2x phs"></i><small>{{m.battler.location}}</small>
                        </div>
                    </div>
                </div>

                <div class="column five txt-center">
                    <div class="vote-region">
                        <p><small class="vote-left white" data-model="battlers-vts">0 votes</small></p>
                        <div class="vote-bar">
                            <div class="vote-bar-in battler-vote"></div>
                            <div class="vote-bar-in battlees-vote"></div>
                        </div>
                        <p><small class="vote-right white" data-model="battlees-vts">0 votes</small></p>
                    </div>
                </div>

                <div class="column two-five txt-right">
                    <div class="clearfix">
                        <button class="btn btn-niz mal btn-logo left btn-valid" data-evt="vote" data-model="battlee">Vote</button>
                        <img src="{{m.battlee.profileImgFile}}" class="thumb-round img-sm right mhl">
                        <div class="mvl">
                            <h3><a href="/users/{{m.battlee._id}}">{{m.battlee.username}}</a></h3>
                            <i class="ion-location fa-2x phs"></i><small>{{m.battlee.location}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rel over-base glass">
        <div class="container">
            <div class="row clearfix">
                <div class="column half scroll comments" data-reg="comments"></div>
                <div class="column half mvm">
                    <h4>Related Battles</h4>

                    <div class="scroll battles">
                        {{#each things}}
                        <div class="mvl column third">
                            <div class="brd-dark clearfix in rel" data-evt="battle-clk" data-mod="{{_id}}">
                                <div class="le-wrap battle-thumbs battle-small">
                                    <div class="le-in full-in faded hov point">
                                        <div class="le-in vert-center center subheading">
                                            <p class="cap">{{battler.username}} <span class="block lead small white">vs</span></p>
                                            <p class="cap">{{battlee.username}}</p>
                                        </div>
                                    </div>

                                    <div class="crop" style="background-image: url('{{battler.profileImgFile}}');">
                                    </div>
                                    <div class="crop" style="background-image: url('{{battlee.profileImgFile}}');">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
