<div class="column fourth pvs" data-mod="kicker">
    <div class="right">
        <i class="icon round-icon ion-social-facebook"></i>
        <i class="icon round-icon ion-social-twitter"></i>
        <i class="icon round-icon ion-social-googleplus"></i>
    </div>

    <h4>The Battle Stage</h4>
</div>

<div class="column half txt-center" data-mod="mid">
    <h5>{{m.mode}} Mode</h5>
    <p>Round {{roundNo}}</p>
</div>
<div class="column fourth pvs txt-right" data-mod="right">
    <div class="row clearfix" data-reg="search"></div>
</div>




<!-- <div class="column fourth pvs" data-mod="kicker">
<h4>Round {{roundNo}}</h4>
<div><small>{{m.battler.username}} VS {{m.battlee.username}}</small></div>
</div>

<div class="column half mtl txt-center" data-mod="mid"></div>
<div class="column fourth mtl txt-right" data-mod="right">
    <small class="white">Battle - {{m.mode}}</small>
</div> -->
