<div class="container">
    <div class="row clearfix le-wrap" style="height:200px;">

        <div class="le-in pull-left">
            <img src="{{battler.profileImgFile}}" class="thumb-round img-md">
            <h3>{{battler.username}}</h3>
        </div>

        <div class="battle-vs in">
            <h1>VS</h1>
        </div>

        <div class="le-in pull-right">
            <img src="{{battlee.profileImgFile}}" class="thumb-round img-md">
            <h3>{{battlee.username}}</h3>
        </div>
    </div>


    <div class="battle-winner">
        <div class="le-wrap">
            <h1 class="le-in center killer glow win">WINNER</h1>
            <img src="{{winner.profileImgFile}}" class="thumb-round img-large mvhuge">
        </div>
    </div>
</div>
