<div class="right">
    <img class="img-xs thumb-round" src="{{referenceObj.battler.img}}"> <span class="vert-up">VS</span>
    <img class="img-xs thumb-round" src="{{referenceObj.battlee.img}}">
</div>

<p>A new <a href="battle/{{referenceObj.id}}" class="fat">Battle</a> was started between
    <a class="fat" href="/users/{{referenceObj.battler.id}}">{{referenceObj.battler.username}}</a>
    and <a class="fat" href="/users/{{referenceObj.battlee.id}}">{{referenceObj.battlee.username}}</a>
