<a href="shred/{{referenceObj.id}}" class="right"><img class="img-sm profile-img" src="{{referenceObj.img}}"></a>
<p><a href="{{user.id}}"class="fat">{{user.username}}</a> created a new <a href="shred/{{referenceObj.id}}" class="fat">Shred</a></p>
