<p><a href="users/{{user.id}}">{{user.username}}</a> commented on <a href="users/{{referenceObj.user.id}}">{{referenceObj.user.username}}'s</a>
    <a href="shred/{{referenceObj.shred.id}}">Shred</a></p>

<div>
    <img class="profile-img img-xs right" src="{{referenceObj.thumb}}">
    <p class="lead">"{{referenceObj.body}}"</p>
</div>
