<div data-region="landing">
    <div class="banner le-wrap no-top-marg">
        <div class="le-in center pal faded">
            <div class="left txt-left">
                <h1 class="head">{{m.username}}</h1>
                <p><i class="ion-location fa-2x phs"></i><small>{{m.location}}</small></p>
            </div>
            <div class="right">
                <img src="{{m.profileImgFile}}" class="img-sm profile-img">
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="column half">
            <div class="blue-box mal pal">
                <header>
                    <strong>Bio</strong>
                </header>
                <p class="lead mvm">{{m.bio}}</p>
                <small>{{m.username}} was born <strong>{{m.birth}}</strong>,
                    and started playing in <strong>{{m.startedPlaying}}</strong>.
                </small>

                <div class="ptm txt-right">
                    <section data-reg="fan" class="in"></section>
                    <button class="btn btn-small" data-evt="pm">Send message <span class="ion-email"></span></button>
                </div>
            </div>

            <div class="mal txt-center">
                <div class="battle-ch-banner pal">
                    <button class="btn btn-ser brd" data-evt="br">Challenge To Battle!</button>
                </div>
            </div>

            <div class="blue-box mal pal txt-center">
                <p class="mbm"><a href="#">I give tuts! <span class="ion-ios7-information-outline"></span></a></p>
                <button class="btn btn-niz">Ask For A Lesson</button>
            </div>

        </div>
        <div class="column half">
            <div class="right scrollable">
                {{#each m.shreds}}
                <div class="blue-box mal pal txt-center">
                    <a href="/shred/{{_id}}"><img src="{{thumb}}" class="shred-thumb brd-dark"></a>
                    <div class="footer txt-center">
                        <h4 class="lead mam"><a href="/shred/{{id}}">{{title}}</a></h4>
                        <p><small>{{description}}</small></p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
