<div data-region="landing">
    <div class="banner le-wrap no-top-marg">
        <div class="txt-center pal over-base rel">
            <img src="{{m.profileImgFile}}" class="img-md thumb-round">
            <h1 class="kill lead">{{m.username}}</h1>
            <div class="right">
                <p><i class="ion-location fa-2x phs"></i><small>{{m.location}}</small></p>
            </div>
        </div>
        <div class="le-in full-in faded"></div>
    </div>

    <div class="row clearfix">
        <div class="column half">
            <div class="blue-box mal pal">
                <p class="lead mvm">{{m.bio}}</p>
                <small>{{m.username}} was born <strong>{{m.birth}}</strong>,
                    and started playing in <strong>{{m.startedPlaying}}</strong>.
                </small>

                <div class="ptm txt-right">
                    <section data-reg="fan" class="in"></section>
                    <button class="btn btn-small" data-evt="pm">Send message <span class="ion-email"></span></button>
                </div>
            </div>

            <div class="mal txt-center">
                <div class="battle-ch-banner pal">
                    <button class="btn btn-ser brd" data-evt="br">Challenge To Battle!</button>
                </div>
            </div>

            <div class="blue-box mal pal txt-center">
                <p class="mbm"><a href="#">I give tuts! <span class="ion-ios7-information-outline"></span></a></p>
                <button class="btn btn-niz">Ask For A Lesson</button>
            </div>
            <div id="uploader"></div>

        </div>

        <div class="column fourth">
            <div class="blue-box mal pal">
                {{#each m.shreds}}
                    <div class="brd-dark box-wrap le-wrap stage-thumb-wrap mvm">
                        <a class="white" href="/shred/{{_id}}"><img src="{{thumb}}" class="shred-thumb"></a>
                        <div class="le-in thmb pas white">
                            <p><a class="white" href="/shred/{{_id}}">{{title}}</a></p>
                            <small class="lead white">{{description}}</small>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="column fourth">
            <div class="blue-box mal pal txt-center">
                {{#each m.battles}}
                <div class="brd-dark clearfix in rel mvm" data-evt="battle-clk" data-mod="{{_id}}">
                    <div class="le-wrap battle-thumbs">
                        <div class="le-in full-in faded hov point">
                            <div class="le-in vert-center center subheading">
                                <h3 class="cap">{{battler.username}} <span class="block lead">vs</span></h3>
                                <h3 class="cap">{{battlee.username}}</h3>
                            </div>

                            <div class="le-in bottom full-w mas">
                                <span class="small tags right battles">{{votesStr}}</span>
                                <span class="small tags left battles">{{mode}}</span>
                            </div>
                        </div>
                        <!-- <div class="le-in half-in right-half"></div> -->

                        <div class="crop" style="background-image: url('{{battler.profileImgFile}}');">
                            <!-- <img src="{{battler.profileImgFile}}" class="shred-thumb"> -->
                        </div>
                        <div class="crop" style="background-image: url('{{battlee.profileImgFile}}');">
                            <!-- <img src="{{battlee.profileImgFile}}" class="shred-thumb"> -->
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
