<div class="banner le-wrap no-top-marg">
    <div class="le-in center pal faded">
        <div class="left txt-left">
            <h1 class="head">{{m.username}}</h1>
            <p><i class="ion-location fa-2x phs"></i><small>{{m.location}}</small></p>
        </div>
        <div class="right">
            <img src="{{m.profileImgFile}}" class="img-sm profile-img">
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="column half">
        <div class="blue-box mal pal">
            <header>
                <strong>Bio</strong>
            </header>
            <p class="lead mvm">{{m.bio}}</p>
            <small>{{m.username}} was born <strong>{{m.birth}}</strong>,
                and started playing in <strong>{{m.startedPlaying}}</strong>.
            </small>

            <p class="ptm txt-right"><button class="btn btn-small">Fan <span class="ion-person-add"></span></button>
                <button class="btn btn-small">Send message <span class="ion-email"></span></button></p>
            </div>

            <div class="blue-box mal pal txt-center">
                <button class="btn btn-ser">Challenge To Battle!</button>
            </div>

            <div class="blue-box mal pal txt-center">
                <p class="mbm"><a href="#">I give tuts! <span class="ion-ios7-information-outline"></span></a></p>
                <button class="btn btn-niz">Ask For A Lesson</button>
            </div>

        </div>
        <div class="column half">
            <div class="right scrollable">
                {{#each m.shreds}}
                {{#if this.youtubeId}}

                <div class="blue-box mal pal txt-center">
                    <a href="/shred/{{id}}"><img src="http://img.youtube.com/vi/{{this.youtubeId}}/0.jpg" class="shred-thumb brd-dark"></a>
                    <div class="footer txt-center">
                        <h4 class="lead mam"><a href="/shred/{{id}}">{{title}}</a></h4>
                        <p><small>{{description}}</small></p>
                    </div>
                </div>


                <!-- <div class="brd-dark box-wrap le-wrap stage-thumb-wrap mal" data-evt="play" data-model="{{_id}}">
                    <img src="http://img.youtube.com/vi/{{this.youtubeId}}/0.jpg" class="shred-thumb">
                    <div class="le-in thmb pas white">
                        <p>{{this.user.username}}</p>
                        <small class="lead white">{{title}}</small>
                    </div>
                    <div class="le-in full-in"></div>
                </div> -->
                {{/if}}
                {{/each}}
            </div>

        </div>
    </div>
