<div class="container" data-region="landing">
    <div class="row clearfix">

        <div class="column three-fourth" data-reg="player"></div>

        <div class="column fourth">

            {{#each things}}

            <div class="brd-dark box-wrap le-wrap stage-thumb-wrap small" data-evt="thmb-click" data-model="{{_id}}">
                <img src="{{thumb}}" class="shred-thumb">
                <div class="le-in thmb pas white">
                    <p>{{user.username}}</p>
                    <small class="lead white">{{title}}</small>
                </div>
                <div class="le-in full-in"></div>
            </div>

            {{/each}}

        </div>

    </div>


    <div class="row clearfix">

        <div class="column two-thirds">
            <div class="row mvl clearfix">
                <h5 class="column three-fourth">{{m.type}} <small>Added {{m.createdAt}}</small></h5>
            </div>

            <div class="row mvl clearfix">
                <h1 class="column three-fourth lead">{{m.title}}</h1>
            </div>

            <div class="row mvl clearfix">

                <div class="column third">
                    <h3><img src="/img/profiles/16.jpg" class="thumb-round img-xs"><span class="thumb-txt"><a href="/users/{{m.user._id}}">{{m.user.username}}</a></span></h3>
                    <i class="ion-location fa-2x phs"></i><small>{{m.user.location}}</small>
                </div>

                <!-- TODO: verify this is correct -->
                <section class="column two-thirds mtm green-swabs">
                    <p><a class="white active">About</a>
                    <a>Promote</a>
                    <a>Hide</a></p>
                    <p><label>
                        {{m.description}}
                    </label></p>
                </section>
            </div>

            <div class="row clearfix pal">
                <h4>Shredr Tabs</h4>
                <div data-reg="tabs" class="prl"></div>
            </div>
        </div>

        <div class="column third">
            <div data-reg="rate"></div>

            <div class="row pvl">
                <div data-reg="comments"></div>
            </div>
        </div>

    </div>
</div>
